@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Open+Sans&display=swap');

body {
    font-weight: 500;
    background-color: rgb(221, 221, 221);
    /* background-image: url('files/Images/Pattern.png'); */
}

header {
    font-family: 'Lobster Two';
    font-size: larger;
    text-align: center;
}

main {
    font-family: 'Open sans', Arial, 'Sans serif';
    font-size: large;
    margin: 4em;
}

footer {
    font-family: 'Open sans';
    font-size: smaller;
    background-color: silver;
    border-radius: 80px 10px 80px 10px;
    padding: 0.5em 0 1em 3em;
    margin: 5em 1em 0.1em 1em;
}

.order_one {
    order: 1;
}

.order_two {
    order: 2;
}

.order_three {
    order: 3;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
}

.content_container_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 0.5em;
}

.content_container_2 {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0.5em;
}

.content_container_3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8em;
    justify-content: center;
    align-items: center;
}

.content_container_3_background {
    background-color: rgb(235, 235, 235);
    border-radius: 1em;
    padding: 2em;
}

input, select {
    font-size: smaller;
    border: 0.1em solid silver;
    border-radius: 0.5em;
    padding: 0.3em;
    background-color: rgb(243, 243, 243);
}

fieldset {
    border: 0.2em solid silver;
    border-radius: 0.5em;
    padding: 2em;
    width: auto;
}

textarea {
    border: 0.15em solid silver;
    border-radius: 1em;
}

.submit_button {
    padding: 0.7em;
    font-family: 'Open sans', Arial;
    font-size: 1em;
}

#footer_container_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
    margin: 1.3em 0 0.7em 0em;
}

#footer_container_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0 0.7em 0em;
}

h1 {
    text-decoration: underline;
}

h1 + p {
    font-size: 1.1em;
}

h1, h2 {
    color: rgb(179, 42, 0);
}


a {
    color: #ff878f;
    text-decoration: none;
}

textarea {
    width: 100%;
    height: 30em;
}

a:hover {
    text-decoration: underline;
    color: #12c2e9;
}

a:focus {
    background-color: #12c2e9;
}

.mini_font_size {
    font-size: x-small;
}

.bold_grey {
    color: grey;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.grey {
    color: grey;
}

@supports (display: flex) {

    /* WIDTH */

    /* Mini tablet and mobile */

    @media screen and (max-width: 518px) {

        body {
            font-size: small;
        }

        main {
            font-size: small;
            margin: 3em 1em 2em 1em;
        }

        .order_three {
            align-self: center;
        }

        footer {
            border-radius: 0;
            padding-bottom: 2em;
            margin: 0 -0.5em 0 -0.5em;
        }

        #footer_container_top {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
        }
    }

    /* Width limit */

    @media screen and (max-width: 320px) {
        body {
            min-width: min-content;
        }
    }
    
}