@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Open+Sans&display=swap');

@supports (display: flex) {
    @media screen and (max-width: 900px) {

        header, main {
        display: flex;
        flex-direction: column;
        }

        p, ul {
            width: 300px;
            height: 160px;
            text-align: justify;
            overflow: auto;
        }

        form {
            width: 350px;
            height: 210px;
            text-align: justify;
            overflow: auto;
        }
    }
}

body {
    font-size: 1.2em;
    font-weight: 500;
    background-color: rgb(221, 221, 221);
    background-image: url('files/Images/Pattern.png');
}

header {
    font-family: 'Lobster Two';
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 1.5em;
}

main {
    font-family: 'Open sans', Arial, 'Sans serif';
}

form {
    margin: 1em 10em 0 10em;
}

footer {
    font-family: 'Open sans';
    font-size: 0.75em;
    background-color: silver;
    border-radius: 80px 10px 80px 10px;
    padding: 0.5em 0 1em 3em;
    margin: 5em 1em 0.5em 1em;
}

.order_one {
    order: 1;
}

.order_two {
    order: 2;
}

.order_three {
    order: 3;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
}

.field_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 0.5em;
}


input, select {
    border: 0.2em solid silver;
    border-radius: 0.5em;
    padding: 0.3em;
    background-color: rgb(243, 243, 243);
}

fieldset {
    border: 0.2em solid silver;
    border-radius: 0.5em;
}

textarea {
    border: 0.2em solid silver;
    border-radius: 0.5em;
}

.submit_button {
    padding: 0.7em;
    font-family: 'Open sans', Arial;
    font-size: 1em;
}

#footer_container_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
    margin: 1.3em 0 0.7em 0em;
}

#footer_container_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0 0.7em 0em;
}

h1 {
    text-decoration: underline;
}

h1 + p {
    font-size: 1.1em;
}

h1, h2 {
    color: rgb(179, 42, 0);
}


a {
    color: #f64f59;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #12c2e9;
}

a:focus {
    background-color: #12c2e9;
}

.mini_font_size {
    font-size: 0.8em;
}

.bold_grey {
    color: grey;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.grey {
    color: grey;
}
