@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Open+Sans&display=swap');

@keyframes fadein {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

body {
    animation: fadein 1.5s;
    background-color: white;
    font-family: 'Open sans';
    font-size: larger;
    text-align: center;
    margin-top: 20%;
    }

h1 {
    color: #12c2e9;
}

p {
    font-size: medium;
}

a {
    animation: fadein 1.5s alternate-reverse 2s infinite;
    color: #12c2e9;
    text-decoration: none;
    }
    
    a:hover {
    color: #f64f59;
    }